<div class="title">
    <h2>Список штрафов</h2>
    <button type="button" class="btn btn-primary" (click)="changeRoutCreate()">Добавить штраф</button>
</div>

<table class="table table-striped" style="margin-top: 30px;">
    <thead>
      <tr>
        <th scope="col">Сотрудник</th>
        <th scope="col">Причина</th>
        <th scope="col">Сумма</th>
        <th scope="col">Дата штрафа</th>
        <th scope="col">Действия</th>
      </tr>
    </thead>
    <tbody>
    
    @for(employee of employees; track employee.id){
        <tr *ngIf="employee.fine > 0">
          <th scope="row">{{ employee.fullName }}</th>
          <td>{{ employee.description }}</td>
          <td>{{ employee.fine }}</td>
          <td>{{ employee.fineDate }}</td>
          <td>
            <a
              class="btn btn-outline-primary"
              (click)="changeRoutEdit(employee.id)"
            >
              Изменить
            </a>
            <button
              type="button"
              class="btn btn-danger"
              style="margin-left: 20px"
              (click)="deleteEmployee(employee.id)"
            >
              Удалить
            </button>
          </td>
        </tr>
    }
      
    </tbody>
  </table>
