<form (ngSubmit)="createPassword()">
  <label for="program"
    >Program
    <input
      type="text"
      id="program"
      name="program"
      [(ngModel)]="createModel.program"
      required
    />
  </label>

  <label for="login"
    >Login
    <input
      type="text"
      id="login"
      name="login"
      [(ngModel)]="createModel.login"
      required
    />
  </label>

  <label for="pass"
    >Password
    <input
      type="text"
      id="pass"
      name="pass"
      [(ngModel)]="createModel.pass"
      required
    />
  </label>

  <label for="project"
    >Project
    <select
      class="form-select"
      aria-label="Default select example"
      id="project"
      name="project"
      [(ngModel)]="createModel.projectId"
    >
      @for(project of projects; track project.id){
      <option [value]="project.id">
        {{ project.projectName }}
      </option>
      }
    </select>
  </label>

  <button type="submit" class="btn btn-primary">Добавить пароль</button>
</form>
