<form (ngSubmit)="updatePassword()">
    <label for="program"
      >Программа*
      <input
        type="text"
        id="program"
        name="program"
        [(ngModel)]="updateModel.program"
        required
      />
    </label>
  
    <label for="login"
      >Логин*
      <input
        type="text"
        id="login"
        name="login"
        [(ngModel)]="updateModel.login"
        required
      />
    </label>
  
    <label for="pass"
      >Пароль
      <input
        type="text"
        id="pass"
        name="pass"
        [(ngModel)]="updateModel.pass"
        required
      />
    </label>
  
    <label for="project"
      >Проект*
      <select
        class="form-select"
        aria-label="Default select example"
        id="project"
        name="project"
        [(ngModel)]="updateModel.projectId"
      >
        @for(project of projects; track project.id){
        <option [value]="project.id">
          {{ project.projectName }}
        </option>
        }
      </select>
    </label>
  
    <button type="submit" class="btn btn-primary">Изменить</button>
  </form>
  