<div class="title">
    <h2>Список сотрудников</h2>
    <button type="button" class="btn btn-primary" (click)="changeRoutCreate()">Добавить сотрудника</button>
</div>

<table class="table table-striped" style="margin-top: 30px;">
    <thead>
      <tr>
        <th scope="col">Имя</th>
        <th scope="col">Позиция</th>
        <th scope="col">Зарплата</th>
        <th scope="col">Аванс</th>
        <th scope="col">Процент</th>
        <th scope="col">Штрафы</th>
        <th scope="col">Оставшаяся зарплата</th>
        <th scope="col">Дата зарплаты</th>
        <th scope="col">Действия</th>
      </tr>
    </thead>
    <tbody>
      @for(employee of employees; track employee.id){
        <tr>
          <th scope="row">{{ employee.fullName }}</th>
          <td>{{employee.position}}</td>
          <td>{{employee.salary}}</td>
          <td>{{employee.givenSalary}}</td>
          <td>{{employee.percent}}</td>
          <td>{{employee.fine}}</td>
          <td>{{employee.remainedSalary}}</td>
          <td>{{employee.salaryDate}}</td>
          <td>
            <a
          class="btn btn-outline-primary"
          (click)="changeRoutEdit(employee.id)"
            >
              Изменить
            </a>
            <button
              type="button"
              class="btn btn-danger"
              style="margin-left: 20px"
              (click)="deleteEmployee(employee.id)"
            >
              Удалить
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
