
  /* Sidebar styling */
  app-sidebar {
    position: fixed; /* Fixed position */
    top: 0; /* Align with the top */
    left: 0; /* Align with the left */
    z-index: 1000; /* Ensure it stays on top */
  }
  
  /* Main content styling */
  .main-content {
    margin-left: 245px; /* Space for the sidebar */
    padding: 20px; /* Padding for content */
    flex: 1; /* Allow the content area to grow */
  }
  
  .login-page .main-content {
    margin-left: 0; /* Remove margin for full-width content */
    padding: 0px; /* Padding remains as is */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    box-sizing: border-box; /* Include padding in width and height calculations */
  }