.title {
    display: flex;
    margin-top: 20px;
}

.title button {
    margin-left: 540px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
    --vs-primary: 29 92 255;
}

