<div class="title">
  <h2>Список логинов и паролей проектов</h2>
</div>

<form (ngSubmit)="createPassword()">
  <label for="program"
    >Program
    <input
      type="text"
      id="program"
      name="program"
      [(ngModel)]="createModel.program"
      required
    />
  </label>

  <label for="login"
    >Login
    <input
      type="text"
      id="login"
      name="login"
      [(ngModel)]="createModel.login"
      required
    />
  </label>

  <label for="pass"
    >Password
    <input
      type="text"
      id="pass"
      name="pass"
      [(ngModel)]="createModel.pass"
      required
    />
  </label>

  <label for="project"
    >Project
    <select
      class="form-select"
      aria-label="Default select example"
      id="project"
      name="project"
      [(ngModel)]="createModel.projectId"
    >
      @for(project of projects; track project.id){
      <option [value]="project.id">
        {{ project.projectName }}
      </option>
      }
    </select>
  </label>

  <button type="submit" class="btn btn-primary">Добавить пароль</button>
</form>

<table class="table table-striped" style="margin-top: 30px">
  <thead>
    <tr>
      <th scope="col">Проект</th>
      <th scope="col">Программа</th>
      <th scope="col">Логин</th>
      <th scope="col">Пароль</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
    @for(password of passwords;track password.id){
    <tr>
      <th scope="row">{{ password.futureProject.projectName }}</th>
      <td>{{ password.program }}</td>
      <td>{{ password.login }}</td>
      <td>{{ password.pass }}</td>
      <td>
        <button
          type="button"
          class="btn btn-outline-primary"
          onclick="window.dialog.showModal()"
          (click)="changeIdUpdate(password.id)"
        >
          Изменить
        </button>
        <button
          type="button"
          class="btn btn-danger"
          style="margin-left: 20px"
          (click)="deletePassword(password.id)"
        >
          Удалить
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
