<div class="title">
  <h2>Список логинов и паролей проектов</h2>
  <button type="submit" class="btn btn-primary" (click)="changeRoutCreate()">Добавить пароль</button>
</div>

<table class="table table-striped" style="margin-top: 30px">
  <thead>
    <tr>
      <th scope="col">Проект</th>
      <th scope="col">Программа</th>
      <th scope="col">Логин</th>
      <th scope="col">Пароль</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
    @for(password of passwords;track password.id){
    <tr>
      <th scope="row">{{ password.futureProject.projectName }}</th>
      <td>{{ password.program }}</td>
      <td>{{ password.login }}</td>
      <td>{{ password.pass }}</td>
      <td>
        <a
          class="btn btn-outline-primary"
          (click)="changeRoutEdit(password.id)"
        >
          Изменить
        </a>
        <button
          type="button"
          class="btn btn-danger"
          style="margin-left: 20px"
          (click)="deletePassword(password.id)"
        >
          Удалить
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
