<div class="sidebar">
  <ul>
    <li [class.active]="activeLink === 'main'" (click)="setActiveLink('main')">
      <a routerLink="/main">Главная</a>
    </li>
    <li [class.active]="activeLink === 'employees'" (click)="setActiveLink('employees')">
      <a routerLink="/employees">Сотрудники</a>
    </li>
    <li [class.active]="activeLink === 'passwords'" (click)="setActiveLink('passwords')">
      <a routerLink="/passwords">Пароли</a>
    </li>
    <li [class.active]="activeLink === 'fines'" (click)="setActiveLink('fines')">
      <a routerLink="/fines">Штрафы</a>
    </li>
    <li [class.active]="activeLink === 'consumption'" (click)="setActiveLink('consumption')">
      <a routerLink="/consumption">Расходы</a>
    </li>
  </ul>
</div>
