<div class="sidebar">
  <ul>
    <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/main']">
      <a>Главная</a>
    </li>
    <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/employees']">
      <a>Сотрудники</a>
    </li>
    <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/passwords']">
      <a>Пароли</a>
    </li>
    <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/fines']">
      <a>Штрафы</a>
    </li>
    <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/consumption']">
      <a>Расходы</a>
    </li>
  </ul>
</div>