<section>
  <div class="container">
    <div class="summa">
      <div class="cards">
        <div class="card0">
          <div class="texts">
            <span>4,320 $</span>
            <p>Деньги от проекта</p>
          </div>
          <img src="../../../assets/images/currency-dollar.svg" alt="$" />
        </div>

        <div class="card1">
          <div class="texts">
            <span>680 $</span>
            <p>Таргет сумма</p>
          </div>
          <img src="../../../assets/images/bullseye.svg" alt="$" />
        </div>

        <div class="card2">
          <div class="texts">
            <span>1,180 $</span>
            <p>Получены деньги</p>
          </div>
          <img src="../../../assets/images/cash.svg" alt="$" />
        </div>

        <div class="card3">
          <div class="texts">
            <span>3,200 $</span>
            <p>Оставшиеся деньги</p>
          </div>
          <img src="../../../assets/images/piggy-bank-fill.svg" alt="$" />
        </div>
      </div>

      <div class="cards1">
        <div class="card4">
          <div class="texts">
            <span>4,000,000</span>
            <p>Зарплата сотрудника</p>
          </div>
          <img src="../../../assets/images/credit-card-2-back.svg" alt="$" />
        </div>

        <div class="card5">
          <div class="texts">
            <span>1,835,000</span>
            <p>Штрафы</p>
          </div>
          <img src="../../../assets/images/dislike-svgrepo-com.svg" alt="$" />
        </div>

        <div class="card6">
          <div class="texts">
            <span>665,000</span>
            <p>Оставшаяся зарплата</p>
          </div>
          <img src="../../../assets/images/safe2-fill.svg" alt="$" />
        </div>

        <div class="card7">
          <div class="texts">
            <span>26,200,000</span>
            <p>Расходы</p>
          </div>
          <img src="../../../assets/images/receipt.svg" alt="$" />
        </div>
      </div>
    </div>

    <div class="emp">
      <div class="emp-cards">
        <div class="emp-card1">
          <div class="texts">
            <span>11</span>
            <p>Количество проектов</p>
          </div>
          <img src="../../../assets/images/inbox-fill.svg" alt="$" />
        </div>
        <div class="emp-card2">
          <div class="texts">
            <span>2</span>
            <p>Количество сотрудников</p>
          </div>
          <img src="../../../assets/images/people-fill.svg" alt="$" />
        </div>
        <div class="emp-card3">
          <div class="texts">
            <span>0</span>
            <p>Зарплата в процентах</p>
          </div>
          <img src="../../../assets/images/percent-svgrepo-com.svg" alt="$" />
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary">Добавить проект</button>
    <div class="projects">
      <div class="pr-cards">
        @for(project of projects;track project.id){

        <div class="pr-card">
          <div class="title">
            <h3>{{project.projectName}}</h3>
          </div>
          <p>Имя: <span>{{project.clientName}}</span></p>
          <p>Номер телефона: <span>{{project.phoneNumber}}</span></p>
          <p>Сумма: <span>{{project.received}}</span></p>
          <p>ОСТАТОК: <span>{{project.amount}}</span></p>

          <div class="btns">
            <a class="btn btn-primary">подробнее</a>
            <a class="btn btn-success">копировать</a>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>
