<section>
  <div class="container">
    <div class="summa">
      <div class="cards">
        <div class="card0">
          <div class="texts">
            <span> {{ cardData.projectMoney | number:'1.0-0' }} $</span>
            <p>Деньги от проекта</p>
          </div>
          <img src="../../../assets/images/currency-dollar.svg" alt="$" />
        </div>

        <div class="card1">
          <div class="texts">
            <span> {{ cardData.targetAmount | number:'1.0-0' }} $</span>
            <p>Таргет сумма</p>
          </div>
          <img src="../../../assets/images/bullseye.svg" alt="$" />
        </div>

        <div class="card2">
          <div class="texts">
            <span> {{ cardData.receivedMoney | number:'1.0-0' }} $</span>
            <p>Получены деньги</p>
          </div>
          <img src="../../../assets/images/cash.svg" alt="$" />
        </div>

        <div class="card3">
          <div class="texts">
            <span> {{ cardData.remainingMoney | number:'1.0-0' }} $</span>
            <p>Оставшиеся деньги</p>
          </div>
          <img src="../../../assets/images/piggy-bank-fill.svg" alt="$" />
        </div>
      </div>

      <div class="cards1">
        <div class="card4">
          <div class="texts">
            <span> {{ cardData.salaryEmployee | number:'1.0-0' }} </span>
            <p>Зарплата сотрудника</p>
          </div>
          <img src="../../../assets/images/credit-card-2-back.svg" alt="$" />
        </div>

        <div class="card5">
          <div class="texts">
            <span> {{ cardData.fines | number:'1.0-0' }} </span>
            <p>Штрафы</p>
          </div>
          <img src="../../../assets/images/dislike-svgrepo-com.svg" alt="$" />
        </div>

        <div class="card6">
          <div class="texts">
            <span> {{ cardData.remainingSalary | number:'1.0-0' }} </span>
            <p>Оставшаяся зарплата</p>
          </div>
          <img src="../../../assets/images/safe2-fill.svg" alt="$" />
        </div>

        <div class="card7">
          <div class="texts">
            <span> {{ cardData.expenses | number:'1.0-0' }} </span>
            <p>Расходы</p>
          </div>
          <img src="../../../assets/images/receipt.svg" alt="$" />
        </div>
      </div>
    </div>

    <div class="emp">
      <div class="emp-cards">
        <div class="emp-card1">
          <div class="texts">
            <span> {{ cardData.projectsCount }} </span>
            <p>Количество проектов</p>
          </div>
          <img src="../../../assets/images/inbox-fill.svg" alt="$" />
        </div>
        <div class="emp-card2">
          <div class="texts">
            <span> {{ cardData.employeesCount }} </span>
            <p>Количество сотрудников</p>
          </div>
          <img src="../../../assets/images/people-fill.svg" alt="$" />
        </div>
        <div class="emp-card3">
          <div class="texts">
            <span> {{ cardData.salaryPercentage }} </span>
            <p>Зарплата в процентах</p>
          </div>
          <img src="../../../assets/images/percent-svgrepo-com.svg" alt="$" />
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="changeRoutCreate()">
      Добавить проект
    </button>
    <div class="projects">
      <div class="pr-cards">
        @for(project of projects;track project.id){

        <div class="pr-card">
          <div class="title">
            <h3>{{ project.projectName }}</h3>
          </div>
          <p>
            Имя: <span>{{ project.clientName }}</span>
          </p>
          <p>
            Номер телефона: <span>{{ project.phoneNumber }}</span>
          </p>
          <p>
            Сумма: <span>{{ project.amount }}</span>
          </p>
          <p>
            ОСТАТОК: <span>{{ project.amount - project.received }}</span>
          </p>
          <p>
            Таргет бюджет: <span>{{ project.budgetTarget }}</span>
          </p>
          <p>
            Получили: <span>{{ project.received }}</span>
          </p>
          <div class="date">
            <p class="dt1">{{ project.startingDate }}</p>
            <span> - </span>
            <p class="dt2">{{ project.endingDate }}</p>
          </div>
          <div class="btns">
            <a class="btn btn-danger  btn-sm" (click)="deleteProject(project.id)"
              >Удалить</a
            >
            <a class="btn btn-success  btn-sm" (click)="changeRoutEdit(project.id)"
              >Редактировать</a
            >
            <a class="btn btn-info  btn-sm" (click)="copyText(project.phoneNumber)"
              >Копировать</a
            >
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>
